 <widget id="A6068784333482"  version="0.0.1">
    <name>xiaoguo</name>
    <description>
        Example For APICloud.
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        Developer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="pageBounce" value="false"/>    <preference name="launcher" value="true" />
	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
	<preference name="hScrollBarEnabled" value="true"/>
	<preference name="vScrollBarEnabled" value="true"/>
	<preference name="autoLaunch" value="true"/>
	<preference name="fullScreen" value="false"/>
	<preference name="autoUpdate" value="true" />
	<preference name="smartUpdate" value="false" />
	<preference name="debug" value="true"/>
	<preference name="statusBarAppearance" value="true"/>
	<permission name="readPhoneState" />
	<permission name="camera" />
	<permission name="record" />
	<permission name="location" />
	<permission name="fileSystem" />
	<permission name="internet" />
	<permission name="bootCompleted" />
	<permission name="hardware" />
</widget>  <feature name="pushGeTui">     <param name="ios_appkey" value="xCGkZR1bCp6gscLUB20Dl4" />       <param name="ios_appid" value="G5lfFkQZ008VoZUXydA2r2" />       <param name="ios_appsecret" value="RuxlC8ExWA7T4NFoJhQFd6" />       <param name="android_appkey" value="068EFE1F-B158-AB8F-3441-C676D7669DDA" />       <param name="android_appid" value="A6068784333482" />       <param name="android_appsecret" value="wx7779c7c063a9d4d9" />       <param name="android_groupid" value="" />   </feature>   <feature name="weiXin">    <param name="urlScheme" value="wx7779c7c063a9d4d9" />    <param name="apiKey" value="wx7779c7c063a9d4d9" />    <param name="apiSecret" value="a354f72aa1b4c2b8eaad137ac81434cd" /></feature><feature name="qq">    <param name="urlScheme" value="tencent123345678" />    <param name="apiKey" value="123345678" /></feature>